.DayCard {
  padding: 0.5rem;
  margin:0.5rem;
  border: 1px solid #ECEFF1;
  border-radius: 3px;
  display: inline-block;
  width: 10%;
}

.DaysList {
  display: inline-block;
}

.Content {
  text-align: center;
}

.centered {
  float: none;
  margin:0 auto;
  margin-left:auto !important;
}

table {
  border-spacing: 0;
  width: 60%;
}

button.DayCard {
  height: auto;
}

.weatherIcon {
  width: 75%;
}

.weatherIconTable {
  height: 25%;
  line-height: 100%;
  vertical-align: middle;
}

.details {
  column-count: 2;
  width: 100%;
}

.selected-day {
  border-color: #888;
}